{{#if media.isMobile}}
  <nav class="navbar navbar-toggleable-md sticky-top navbar-inverse" style="width:100%!important;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a {{action 'toggleAndTransition' 'index' }} class="nav-link mobile">Home</a>
        </li>
        <li class="nav-item">
          <a {{action 'toggleAndTransition' 'current'}} class='nav-link mobile'>Current Rankings</a>
        </li>
        <li class="nav-item">
          <a {{action 'toggleAndTransition' 'pre-usm'}} class="nav-link mobile">E131-E267</a>
        </li>
        <li class="nav-item">
          <a {{action 'toggleAndTransition' 'pre-update-two'}} class="nav-link mobile">E056-E130</a>
        </li>
        <li class="nav-item">
          <a {{action 'toggleAndTransition' 'pre-update-one'}} class="nav-link mobile">E000-E055</a>
        </li>
        <li class="nav-item">
          <a {{action 'toggleAndTransition' 'email'}} class='nav-link mobile'>Contact Us</a>
        </li>
      </ul>
    </div>
  </nav>
{{/if}}

<div class="w-100 pl-2 pr-2">
  <img class="img-fluid {{unless media.isMobile "w-100"}}" src="{{if media.isMobile 'assets/images/banner-sm.png' 'assets/images/banner-md.png'}}"
    title="LOOK AT THIS FUCKING PLEBE" alt="A banner with magmar's head that says MAgmar Sucks: A Fair and Objective Ranking of Pokemon.">
  <div class= {{unless media.isMobile 'row'}}>

    <div class="d-inline-flex flex-column justify-content-between mt-2 {{if media.isMobile "text-justify" 'col-11'}}">
      <div class= {{if media.isMobile "pl-2 pr-2"}}>
        <p>
          Pokemon are loved by all, unless you're Magmar - if you're Magmar, you suck. From
          the depths of the Pokedex, we bring you a discussion about the world's
          most (un)interesting Pokemon, and rank them from most to least interesting,
          one Pokemon at a time.
        </p>
        <p>
          Episodes release Mondays, Wednesdays and Fridays.
        </p>
      </div>
      {{#unless media.isMobile}}
        <ul class="nav nav-pills justify-content-center">
          <li class="nav-item">
            {{#link-to 'index' class="nav-link" }}Home{{/link-to}}
          </li>
          <li class="nav-item">
            {{#link-to 'current' class='nav-link' }}Current Rankings{{/link-to}}
          </li>
          <li class="nav-item">
            {{#link-to 'pre-usm' class="nav-link"}}E131-E267{{/link-to}}
          </li>
          <li class="nav-item">
            {{#link-to 'pre-update-two' class="nav-link" }}E056-E130{{/link-to}}
          </li>
          <li class="nav-item">
            {{#link-to 'pre-update-one' class="nav-link" }}E000-E055{{/link-to}}
          </li>
          <li class="nav-item">
            {{#link-to 'email' class="nav-link" }}Contact Us{{/link-to}}
          </li>
        </ul>
      {{/unless}}
    </div>
    <div class="d-inline-flex {{unless media.isMobile 'col-1 text-right justify-content-around flex-column mt-2' 'w-100 text-center flex-row justify-content-between pl-2 pr-2'}}">
      <a href='https://playmusic.app.goo.gl/?ibi=com.google.PlayMusic&amp;isi=691797987&amp;ius=googleplaymusic&amp;link=https://play.google.com/music/m/I6x5pmmhw5dzo52nb6vplkuerza?t%3DMagmar_Sucks%26pcampaignid%3DMKT-na-all-co-pr-mu-pod-16'
        rel='nofollow'>
        {{fa-icon 'google' size="2x" class="social-link"}}
      </a>
      <a href="https://geo.itunes.apple.com/us/podcast/magmar-sucks/id1125767902?mt=2">
        {{fa-icon 'apple' size="2x" class="social-link"}}
      </a>
      <a href="https://rss.simplecast.com/podcasts/2597/rss">{{fa-icon 'rss' size="2x" class="social-link"}}</a>
    </div>
  </div>
</div>
<hr/> {{liquid-outlet}}
