<tr {{action 'expand'}}>
        <td class="fit">
            {{expand-collapse-chevron expanded=expanded}}
        </td>
        {{#unless media.isMobile}}
            <td class="text-right">
                #{{pokemon.id}}
            </td>
        {{/unless}}
        <td>
            <a href="http://bulbapedia.bulbagarden.net/wiki/{{pokemon.name}}">{{pokemon.name}}</a>
        </td>
        <td>
            {{pokemon.description}}
        </td>
</tr>
{{episode-details expanded=expanded data=episodeDetails}}
