<div class= {{if media.isMobile 'w-100' 'col-xl-10 offset-xl-1' }}>
  <form action="https://formspree.io/contact@magmar.sucks" method="POST" class="text-left">
    <label for="email">Email address</label>
    {{input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp"
    placeholder="Enter email" value=address required=true}}
    <small id="emailHelp" class="form-text text-muted">We'll never share your email.</small><br>
    <label for="subject">Subject</label>
    {{input type="text" class="form-control" name="_subject" id="subject" aria-describedby="emailHelp"
    placeholder="What are you emailing us about" value=subject required=true}}<br>
    <input type="hidden" name="_next" value="http://www.magmar.sucks/" />
    <label for="exampleTextarea">Message</label> {{input type='textarea' class="form-control" name="body" placeholder="Write your (optionally) meaningful message here" id="exampleTextarea" rows="3" value=body
    required=true}}<br>
    <button type="submit" disabled= {{sendDisabled}} class="btn btn-primary pull-right">Submit</button>
  </form>
</div>
