<div class="{{if media.isMobile 'd-inline-flex align-items-center'}}" {{action 'toggleTableVisibility'}}>
    <div class="d-inline-block pl-1">
        {{expand-collapse-chevron size=2 expanded=expanded}}
    </div>
    <div class="d-inline-block text-center" style="width:calc(100% - 36px)">
        <h2>{{tier.name}}</h2>
    </div>
</div>
{{#liquid-spacer}}
    {{#if expanded}}
        {{table-component tier=tier}}
    {{/if}}
{{/liquid-spacer}}
