<div class="col-12 text-center">
  <h2 class="tk-iskra"><strong>{{tier.name}}</strong></h2>
</div>
<table class='table'>
    <thead>
        <tr data-table-header='{{tier.name}}' class="">
            {{#unless media.isMobile}}
                <th class="text-right">
                    #
                </th>
            {{/unless}}
            <th>
                Name
            </th>
            <th>
                Description
            </th>
        </tr>
    </thead>
    <tbody class="table-striped collapse show" data-collapse-target='{{tier.name}}'>
        {{#each tier.pokemon as |pokemon|}}
        <tr>
          {{#unless media.isMobile}}
              <td class="text-right">
                  #{{pokemon.id}}
              </td>
          {{/unless}}
          <td>
              <a href="http://bulbapedia.bulbagarden.net/wiki/{{pokemon.name}}">{{pokemon.name}}</a>
          </td>
          <td>
              {{pokemon.description}}
          </td>
        </tr>
        {{/each}}
    </tbody>
</table>
