<div class="w-100 d-inline-flex flex-column justify-content-between">
    <div class="w-100 d-flex flex-row justify-content-between">
        <h3>{{episode.title}}</h3>
        <h6 class="text-muted">{{episode.date}}</h6>
    </div>
    <div>
        <iframe frameborder='0' height='36px' class="w-100" scrolling='no' seamless src='https://simplecast.com/e/{{episode.id}}?style=dark'></iframe>
    </div>
    <div class={{if media.isMobile 'text-justify'}}>
        {{if episode.description episode.description "We're lazy fucks, so there isn't a description for this episode!"}}
    </div>
</div>
