<div class="w-100 d-inline-flex flex-row justify-content-between">
  <div class="d-inline-block w-25 text-center pr-2">
    <img class="img-fluid" src={{episode.imageSmall}}/>
  </div>
  <div class="w-75 d-inline-flex flex-column justify-content-between pl-2">
    <div class="w-100 d-flex flex-row justify-content-between">
      <h3 class="tk-iskra">{{episode.title}}</h3>
      <h6 class="episode-date">{{episode.date}}</h6>
    </div>
    <div>
      <iframe frameborder='0' height='36px' class="w-100" scrolling='no' seamless src='https://simplecast.com/e/{{episode.id}}?style=dark'></iframe>
    </div>
    <div class="episode-description {{if media.isMobile 'text-justify'}}">
      {{if episode.description episode.description "We're lazy fucks, so there isn't a
      description for this episode!"}}
    </div>
  </div>
</div>
